/* whatsapp */
a {
  text-decoration: none !important;
}

.floating_btn {
  position: fixed;
  bottom: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}


.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}

/* whatsapp end */

/* back to top */
button#back-to-up {
  background: #fff;
  border: none;
  padding: 16px 24px !important;
  color: #0066FF !important;
  border: 1px solid #0066FF;
  font-size: 20px !important;
  z-index: 999;
}

button#back-to-up:hover {
  color: #fff;
  background: #0066FF;
}

button#back-to-up:hover i {
  color: #fff;
}

/* back to top-end */

.headermenusec {
  color: #F8FCFF;
  border-style: dotted;
  font-family: 'open sans';
  padding: 0px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 999;
}

.headermenusec:hover {
  color: #0066FF !important;
}

.headermenusec2btn {
  background-color: #0066FF;
  text-transform: uppercase;
  font-family: 'open sans';
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50px;
}

.headermenusec2btn:hover {
  background-color: #fff;
  color: #0066FF;
}

.herobgsec {
  background-image: url(../images/Header-backgroundbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
.herobgsecprod {
  background-image: url(../images/prodbgg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
.herobgsecprod2 {
  background-image: url(../images/aboutbgg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}
img.img-fluid.sec-logo-img {
  width: 72%;
}

.maiheddtex {
  font-family: 'open sans';
  font-size: 90px;
  font-weight: 600;
  line-height: 65px;
  color: #F8FCFF;
  padding-top: 70px;
}

.maiheddtex2 {
  font-family: 'open sans';
  font-size: 90px;
  font-weight: 600;
  line-height: 65px;
  color: #F8FCFF;
}

.maiheddtex3 {
  font-family: 'Playfair Display ';
  font-size: 90px;
  line-height: 60px;
  font-weight: 500;
  font-style: italic;
  color: #F8FCFF;
}

.secmaibtn {
  padding-top: 40px;
}

.secmaibtn a {
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F8FCFF;
  padding: 15px 22px;
  border: 1px solid #F8FCFF;
  border-radius: 50px;
}

.secmaibtn a i {
  background-color: #2DB2DF;
  border-radius: 50px;
  padding: 10px 11px;
}

.secmaibtn a:hover {
  background-color: #0066FF;
  border: 1px solid #0066FF;
}

.secmaibtn a:hover i {
  background-color: #fff;
  color: #0066FF;
}

.secbootww {
  max-width: 120%;
}

.martext {
  font-family: 'Playfair Display ';
  font-size: 30px;
  font-weight: 600;
  color: #11121C;
}

.martext i {
  color: #2DB2DF;
}

.marqbgg {
  background-color: #fff;
}

.sechomabotbgg {
  padding: 80px 10px 50px 10px;
}

.secaatext {
  font-family: 'open sans';
  font-size: 70px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #11121C;
  text-align: center;
}

.secaatext2 {
  font-family: 'open sans';
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #11121C;
  text-align: center;
}
.owl-nav.disabled , .owl-dots.disabled {
  display: none;
}
.secaatext3 {
  font-family: 'open sans';
  font-size: 18px;
  color: #11121C;
  text-align: center;
}

.secboxg {
  padding-top: 40px;
}

.secboxh h4 {
  font-family: 'open sans';
  font-size: 28px;
  font-weight: 600;
  color: #11121C;
  text-align: center;
}

.secboxh p {
  font-family: 'open sans';
  font-size: 15px;
  color: #11121C;
  text-align: center;
}

.secbtnbox {
  text-align: center;
}

.secbtnbox a {
  font-family: 'open sans';
  font-size: 20px;
  font-weight: 600;
  color: #11121C;
}

.secatn {
  font-family: 'open sans';
  font-size: 16px;
  color: #11121C;
  text-align: center;
  padding-top: 50px;
}

.secmaibtn2 {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.secmaibtn2 a {
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #11121C;
  padding: 15px 20px;
  border: 1px solid #0066FF;
  border-radius: 50px;
}

.secmaibtn2 a i {
  background-color: #0066FF;
  color: #fff;
  left: 11px;
  position: relative;
  border-radius: 50px;
  padding: 10px 11px;
}

.secmaibtn2 a:hover {
  background-color: #0066FF;
  border: 1px solid #0066FF;
  color: #fff;
}

.secmaibtn2 a:hover i {
  background-color: #fff;
  color: #0066FF;
}

.headdsec h3 {
  font-family: 'open sans';
  font-size: 70px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #11121C;
}

.headdsec h4 {
  font-family: 'open sans';
  font-size: 50px;
  font-weight: 500;
  color: #11121C;
  padding-bottom: 30px;
}

.prodimg {
  background: #EAEAEA;
  border-radius: 20px;
  text-align: center;
}
.prodimg3 {
  background: #EAEAEA;
  border-radius: 20px;
  text-align: center;
}

.prodtext h4 {
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 700;
  color: #11121C;
  text-align: center;
  padding-top: 10px;
  margin: 0;
  text-transform: capitalize;
}

.prodtext p {
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 500;
  color: #11121C;
  text-align: center;
  padding-top: 8px;
}

.prodimg img {
  width: 100% !important;
  margin: auto;
}
.prodimg3 img {
  width: 50% !important;
  margin: auto;
}

.secprod {
  padding-top: 20px;
}

.secprod .owl-nav.disabled,
.secprod .owl-nav {
  display: none;
}

.secprod .owl-dots.disabled,
.secprod .owl-dots.disabled {
  display: none;
}

.secblogbgg {
  padding: 50px 10px 0px 10px;
}

.secblogtext {
  background-color: #F8FCFF !important;
  margin-top: -70px !important;
  border-radius: 20px;
  z-index: 999;
  position: relative;
  width: 79%;
  margin: auto;
  padding: 10px 12px;
}

.secblogtext h4 {
  font-family: 'open sans';
  font-size: 22px;
  font-weight: 500;
  color: #11121C;
}

.secblogtext h6 {
  font-family: 'open sans';
  font-size: 13px;
  font-weight: 500;
  color: #11121C;
}

.secblogtext p {
  font-family: 'open sans';
  font-size: 16px;
  color: #11121C;
}

.secbtnbox2 {
  text-align: end;
}

.secbtnbox2 a {
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 600;
  color: #11121C;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.secbtnbox2 a i {
  font-size: 25px;
  color: #2DB2DF;
  margin-left: 10px;
}
.secblog2{
  margin-top: -400px;
}


.secmaibtn3 {
  text-align: center;
  padding-bottom: 40px;
  margin-top: -150px;
}

.secmaibtn3 a {
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #11121C;
  padding: 15px 20px;
  border: 3px solid #11121C;
  border-radius: 50px;
}

.secmaibtn3 a i {
  background-color: #11121C;
  color: #fff;
  left: 11px;
  position: relative;
  border-radius: 50px;
  padding: 10px 11px;
}

.secmaibtn3 a:hover {
  background-color: #11121C;
  border: 3px solid #11121C;
  color: #fff;
}

.secmaibtn3 a:hover i {
  background-color: #fff;
  color: #11121C  ;
}
.secblog2{
  padding: 0;
}
.footerbg{
  background-image: url(../images/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 50px 50px 50px ;
}
.menusec h4{
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F8FCFF;
  padding-bottom: 20px;
  padding-top: 30px;
}
.menusec p a{
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 500;
  color: #F8FCFF;
}
.menusec p a:hover{
  color: #0066FF;
}
.secsubtext{
  font-family: 'open sans';
  font-size: 40px;
  font-weight: 500;
  color: #F8FCFF;
  padding-top: 20px;
}
.secsubtext2{
  font-family: 'open sans';
  font-size: 16px;
  color: #F8FCFF;
}

#email-signup:hover{
  background-color:#f2f2f2;
}
#email-signup:focus{
  background-color:#f2f2f2;
}

i.bi.bi-envelope {
  left: 23px;
  position: relative;
  font-size: 28px;
  top: 51px;
  color: #0066FF;
}

.subsecbsc{
  padding-left: 55px !important;
  border-radius: 40px !important;
  width: 100% !important;

}
#email-signup{
  height:60px;
  background-color:black;
  padding:0px 5px 0px 10px;
  width:300px;
  caret-color:#fc4e03;
  background-color:white;
  font-size:20px;
  color:#383838;
  outline-style:none;
  border:none;
  border-radius:0.2rem;
}
#btn{
  height: 40px;
  background-color: #0066FF;
  border: none;
  font-size: 20px;
  border-radius: 40px;
  float: right;
  color: white;
  position: relative;
  top: -50px;
  right: 11px;
  padding-left: 10px;
}
#btn:hover{
  background-color:#2c81ff;
}
#btn i{
  background: #fff !important;
  padding: 2px 6px 2px 5px ;
  color: #0066FF;
  border-radius: 40px;
  margin-left: 10px;
  font-size: 18px !important;
}
.footerbg2{
  background-color: #11121C;
  padding: 10px;
}
.seccopy{
  margin: 0;
  font-family: 'open sans';
  font-size: 16px;
  color: #a0a0a0;
  text-align: end;
}
.seccopy2{
  margin: 0;
  font-family: 'open sans';
  font-size: 16px;
  color: #a0a0a0;
}
.seccopy2 a{
  margin: 0;
  font-family: 'open sans';
  font-size: 16px;
  color: #a0a0a0;
}


/* catag */
.tittle-day {
  color: #fff;
  font-family: 'Playfair Display';
  font-size: 70px;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.sec-fil {
  color: #979797;
  font-family: 'poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.reset-filter-btn {
  color: #303030;
  text-align: center;
  font-family: 'poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #979797;
  background: #FFF;
  padding: 8px 15px;
  text-decoration: none;
}
.catgsec {
  color: #000;
}
button.accordion-button.border-bottom.fw-semibold.collapsed {
  color: #000;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.accordion-button::after {
  background-image: url(../images/+.png) !important;
  background-size: auto !important;
}
.filter-arr {
  color: #979797 !important;
  font-family: 'poppins';
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 33px !important;
}
.accordion-body p {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 30px;
  color: #000;
  margin: 0;
  font-weight: 500;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/-.png) !important;
}
.filter-arr a {
  color: #979797;
  font-family: 'poppins';
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #000;
  font-family: 'Poppins';
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0;
}
.seccatepadd {
  padding: 50px 10px;
}
.modal.show .modal-dialog {
  transform: none;
  width: 64% !important;
  max-width: 100%;
}

.prodtext2 h4 {
  font-family: 'open sans';
  font-size: 30px;
  font-weight: 700;
  color: #11121C;
  text-align: left;
  padding-top: 10px;
  margin: 0;
  text-transform: capitalize;
}
.prodtext2 h5 {
  font-family: 'open sans';
  font-size: 18px;
  font-weight: 500;
  color: #11121C;
  text-align: left;
  padding-top: 8px;
}
.prodtext2 p {
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 500;
  color: #11121C;
  text-align: left;
  padding-top: 8px;
}
.secpopbtnp{
  padding: 20px 0px 0px 0px;
}
.secpopbtnp a{
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #0066FF;
  padding: 10px 12px;
}
.secmodww{
  min-width:100%;
}

.prodimg2 img {
  width: 100% !important;
  margin: auto;
}

.prodimg2 {
  background: #EAEAEA;
  border-radius: 20px;
  text-align: center;
}
/* contact */
.sec-tra-p {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  line-height: 179.5%;
  padding: 40px 0px 0px 0px;
}
.cont-sec-ico {
  color: #0B1A48;
  font-size: 50px;
  font-weight: 900;
}
.cont-sec-ih {
  color: #000;
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: 700;
}
.sec-cont-p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.sec-aboy-padd {
  padding: 60px 0px;
}
.sec-get-bg {
  background: #DFEEFF;
  padding: 80px;
}
.sec-grt-h {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 700;
  padding-bottom: 50px;
}
input {
  height: 50px;
}
.sec-con-btn {
  border-radius: 10px;
  background: #0066FF;
  color: #FFF;
  font-size: 20px;
  font-family: 'Poppins';
  letter-spacing: 1.3px;
  padding: 15px 30px;
}
.sec-con-btn:hover {
  background: #5b99f7;
  color: #fff;
}

.secbox{
  background: #fff !important;
  width: 70%;
  margin: auto;
  padding: 40px !important;
  margin-top: -100px;
  z-index: 99;
  position: relative;
  border-radius: 30px;
}

.secbox h3{
font-family: 'Open Sans';
text-align: center;
font-size: 50px;
color: #11121C;
}
.secbox h3 span{
font-weight: 700;
  }

  .secbox p{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 18px;
  }
  .secloimg{
    text-align: center;
  }
  .secloimg p{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
  }
  .secbbtext{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 600;
    color: #11121C;
    padding-bottom: 20px;
  }
  .secbbtext span{
    font-weight: 800;
  }
  .secimgcer{
    text-align: center;
    padding-top: 30px;
  }
  .secpaa1{
    padding: 0px 10px 50px 10px;
  }